.heading {
    background-image: url(/assets/images/bg-main.png);
    background-size: cover;
    background-position: center;
    font-family: "Quicksand";
    font-weight: bolder;
}

.heading .col>h3 {
    color: beige;
    font-weight: bolder;
    max-width: 80%;
}

.heading .col>h2 {
    font-family: mainFont;
    font-size: 80px;
    color: #aab33c;
    max-width: 60%
}

.heading ul>button {
    background-color: #aab33c;
    border-style: none;
    font-family: "Quicksand";
    font-weight: bolder;
}


@font-face {
    font-family: mainFont;
    src: url(/assets/css/font.ttf);
}

@font-face {
    font-family: Quicksand;
    src: url(/assets/css/Quicksand-VariableFont_wght.ttf);
}

/*  About  */

.about .container {
    text-align: center;
    max-width: 40%;
}

.about .container>p {
    max-width: 100%;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-size: 30px;
    font-family: "Quicksand";
}

/*  Cards  */

.abt_cards .container .row .card {
    background-color: rgba(229, 232, 196, 255);
}

.abt_cards .container .row .card img {
    height: 150px;
    width: 160px;
}

.abt_cards .container .row .card p {
    font-size: 24px;
    line-height: 28px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
}

/* Specs */
.specs .container-sm .row .p1 {
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    max-width: 70%;
}

.specs .container-sm .row .p2 {
    font-size: 14px;
    line-height: 24px;
    color: #404142;
    font-weight: 500;
    font-family: "Quicksand";
}

/* Tools */
.tools {
    background-color: rgba(246, 247, 235, 255);
}

.tools .container-fluid .para1 {
    font-size: 45px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    max-width: 100%;
}

.tools .container-fluid img {
    align-items: end;
    justify-content: left;
}

@media screen and (max-width: 768px) {
    .tools .container-fluid img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .tools .container-fluid .cl1 {
        display: none;
    }

    .tools .container-fluid .cl2 {
        max-width: 100%;
    }
}

/*   Plans   */

#tablehead {
    background-color: #aab33c;
    color: #ffffff;
    font-family: "Quicksand";
    font-size: 40px;

}

#tablesubhead {
    font-size: 25px;
}

.textp {
    font-size: xx-small;
    font-family: "Quicksand";
    ;

}

.table {
    border-radius: 5px;
    overflow: hidden;
}

#price {
    font-size: 16px;
    font-family: "Quicksand";
    font-weight: 600;
}

.table thead th:first-child {
    border-top-left-radius: 10px;
}

.table thead th:last-child {
    border-top-right-radius: 10px;
}

.table-striped tbody td{
    text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color:rgba(237,238,215,255);
}

.table-striped tbody td:nth-of-type(odd) {
    box-shadow: -5px 0 5px -5px #333, 7px 0 7px -7px #313030;
}

.tblep {
    /* white-space: pre-line; */
    font-weight: 300px;
    font-size: xx-small;
    font-family: 'Quicksand', sans-serif;
    height: 50px;

}
#tblep2 {
    color: #aab33c;
    font-size: medium;
    font-family: 'Quicksand', sans-serif;
}

#pp {
    color: #aab33c;
    font-family: 'Quicksand', sans-serif;
}

#tableend {
    white-space: pre-line;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;

}
.fa-circle-check{
    color:#aab33c;
}

/*  Learn More  */
.learn_more .container-fluid {
    background-image: url(/assets/images/learn_more-bg.png);
}

.learn_more .container>p {
    font-size: 40px;
    line-height: 46px;
    color: #404142;
    font-weight: 700;
    font-family: "Quicksand";
    text-align: center;
    height: 100px;
    max-width: 80%;
}